.remove-item{
    border: 1px solid indianred;
    background-color: indianred;
    padding: 10px 30px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Inter", serif;
    font-size: 20px;
}