.create button{
    border: 1px solid darkolivegreen;
    background: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 15px 45px;
    color: darkolivegreen;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    text-decoration: none;
}